body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    /* background-color: #FFFFFF; */
    background-color:   #fff7f7;
}

.logo{
    font-weight: bold;
}

.center-nav{
    padding-left: 3rem;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.contact-us{
    color: rgba(0,0,0,.5);
    font-weight: bold;
}

.contact-us:hover{
    color: black;
}

.hero-section{
    margin-top: 8rem;
    margin-left: 40px;
    color: #10367a;
}

.hero-content{
    line-height: 64px;
    font-style: normal;
    font-size: 56px;
    font-weight: 700;
}

.hero-button{
    border-radius: 0.2rem;
    color: white;
    background-color: #733204;
    border-style: hidden;
    margin-left: 15px;
    font-weight: bold;
}

.hero-button:hover{
    color: white;
    border-color: #733204;
    background-color: #733204;
    box-shadow: white;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 50%);
}

.hero-p{
    color: black;
    font-size: 25px;
}

.hero-l{
    color: black;
}

@media (max-width: 500px){
    .hero-img{
        display: none;
    }
    .hero-button{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.main-hero{
    background-color:white;
}

.body-container{
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: white  !important;
}

.body-container-img{
    float: right;
}

.body-container-title{
    color: #1057c8;
    font-weight: 700;
    line-height: 35px;
    font-style: normal;
    font-size: 26px;
}

.body-container-content{
    margin-top: 18px;
    margin-left: 18px;
}
.body-container-second{
    margin-top: 90px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: rgb(250, 242, 242)  !important; 
}
.body-container-title-second{
    color: #10367a;
    font-weight: 700;
    line-height: 35px;
    font-style: normal;
    font-size: 28px; 
}
.body-container-content-second{
    margin-top: 18px;
    margin-left: 18px;
    color: black;
}
.btn-second{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #ffffff    ;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    background-color:#733204;
}
.btn-second:hover{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #ffffff;
    width: 50px;
    font-size: 20px;
    font-weight: 400;
    background-color:#6b2f05;
}

.body-container-third{
    margin-top: 90px;
    margin-left: 70px;
    background-color: rgb(236, 231, 231)  !important; 
    margin-bottom: 150px;
}
.body-container-title-third{
    color: #10367a;
    font-weight: 700;
    line-height: 40px;
    font-style: normal;
    font-size: 25px; 
    margin-top: 15px;
}
.body-container-content-third{
    margin-top: 18px;
    color: black;
    background-color: rgb(255, 255, 255);
    height: 350px;
    margin-right: 60px;
}
.btn-third{
    margin-bottom: 25px;
    color: #ffffff    ;
    font-size: 20px;
    margin-left: 40px;
    line-height: 25px;
    font-weight: 400;
    background-color:#733204;
    margin-top: -20px;
}
.carousel-item{
    height: 22rem;
    position: relative;
    margin-top: 18px;
    background-position: center;
    background-size: cover;
}
.container1{
    position: absolute;
    top: 30;
    bottom: 0;
    right: 0;
    left: 20px;
    height: 80px;
    padding-bottom: 241px;
    margin-top: 10px !important;
}
#tab-img{
    margin-left: 15px;
    height:55px;
}
.carousel-indicators{
    margin-top: 500px !important;
    bottom: -77px;
}
.img-slider{
    height: 28rem;  
    position: relative;
    margin-top: -120px;
}





