:root {
  scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    /* background-color: #FFFFFF; */
    background-color:   white;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #4154f1;
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #10367a;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/


.logo{
    font-weight: bold;
}

.center-nav{
    padding-left: 3rem;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.contact-us{
    color: rgba(0,0,0,.5);
    font-weight: bold;
}

.contact-us:hover{
    color: black;
}

.hero-section{
    margin-top: 8rem;
    margin-left: 40px;
    color: #10367a;
}

.hero-content{
    line-height: 64px;
    font-style: normal;
    font-size: 56px;
    font-weight: 700;
}

.hero-button{
    border-radius: 0.2rem;
    color: white;
    background-color: #733204;
    border-style: hidden;
    margin-left: 15px;
    font-weight: bold;
}

.hero-button:hover{
    color: white;
    border-color: #733204;
    background-color: #733204;
    box-shadow: white;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 50%);
}

.hero-p{
    color: black;
    font-size: 25px;
}

.hero-l{
    color: black;
}

@media (max-width: 500px){
    .hero-img{
        display: none;
    }
    .hero-button{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.main-hero{
    background-color:white;
}

.body-container{
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: white  !important;
}

.body-container-img{
    float: right;
}

.body-container-title{
    color: #1057c8;
    font-weight: 700;
    line-height: 35px;
    font-style: normal;
    font-size: 26px;
}

.body-container-content{
    margin-top: 18px;
    margin-left: 18px;
}
.body-container-second{
    margin-top: 90px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: rgb(250, 242, 242)  !important; 
}
.body-container-title-second{
    color: #10367a;
    font-weight: 700;
    line-height: 35px;
    font-style: normal;
    font-size: 28px; 
}
.body-container-content-second{
    margin-top: 18px;
    margin-left: 18px;
    color: black;
}
.btn-second{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #ffffff    ;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    background-color:#733204;
}
.btn-second:hover{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #ffffff;
    width: 50px;
    font-size: 20px;
    font-weight: 400;
    background-color:#6b2f05;
}

.body-container-third{
    margin-top: 90px;
    margin-left: 70px;
    background-color: rgb(236, 231, 231)  !important; 
    margin-bottom: 150px;
}
.body-container-title-third{
    color: #10367a;
    font-weight: 700;
    line-height: 40px;
    font-style: normal;
    font-size: 25px; 
    margin-top: 15px;
}
.body-container-content-third{
    margin-top: 18px;
    color: black;
    background-color: rgb(255, 255, 255);
    height: 350px;
    margin-right: 60px;
}
.btn-third{
    margin-bottom: 25px;
    color: #ffffff    ;
    font-size: 20px;
    margin-left: 40px;
    line-height: 25px;
    font-weight: 400;
    background-color:#733204;
    margin-top: -20px;
}
.carousel-item{
    height: 22rem;
    position: relative;
    margin-top: 18px;
    background-position: center;
    background-size: cover;
}
.container1{
    position: absolute;
    top: 30;
    bottom: 0;
    right: 0;
    left: 20px;
    height: 80px;
    padding-bottom: 241px;
    margin-top: 10px !important;
}
#tab-img{
    margin-left: 15px;
    height:55px;
}
.carousel-indicators{
    margin-top: 500px !important;
    bottom: -77px;
}
.img-slider{
    height: 28rem;  
    position: relative;
    margin-top: -120px;
}

.feature-icons-content{
    margin-top: 30px;
    margin-bottom: 30px;
}

.feature-icons-content-h1{
    font-weight: 700;
    line-height: 45px;
    font-size: 35px;
    color: #09357a;
    font-style: normal;
}

.feature-icons-content-p{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #2d2d2d;
}

.features-icons {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .features-icons .features-icons-item {
    max-width: 20rem;
  }
  
  .features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
  }
  
  .features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
  }
  
  .features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
  }

  .feature-icons-row{
      margin-bottom: 30px;
  }

  .feature-icons-button{
    border-radius: 0.3rem;
    color: white;
    background-color: #733204;
    border-style: hidden;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    padding: 10px 15px;
  }

  .feature-icons-button:hover{
    color: white;
    border-color: #733204;
    background-color: #733204;
    box-shadow: white;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 50%);
  }

  
/* # Testimonials */

.testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 30px;
    margin: 40px 30px;
    box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
    background: #fff;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
  }
  
  .testimonials .testimonial-item .stars {
    margin-bottom: 15px;
  }
  
  .testimonials .testimonial-item .stars i {
    color: #ffc107;
    margin: 0 1px;
  }
  
  .testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
  }
  
  .testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
  }
  
  .testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
  }
  
  .testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
  }
  
  .testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #4154f1;
  }
  
  .testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #4154f1;
  }
  
  .testimonials .swiper-slide {
    opacity: .3;
  }
  
  @media (max-width: 1199px) {
    .testimonials .swiper-slide-active {
      opacity: 1;
    }
    .testimonials .swiper-pagination {
      margin-top: 0;
    }
  }
  
  @media (min-width: 1200px) {
    .testimonials .swiper-slide-next {
      opacity: 1;
      transform: scale(1.12);
    }
  }
  

  





